.main {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.map {
  position: relative;
  z-index: 1;
  width: 100%;
}

.filters {
  position: absolute;
  z-index: 2;
  height: 100%;
}
