.sidenav-with-button {
  display: flex;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.main-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 700px;
  float: left;

  -webkit-transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}

.main-sidenav-container-closed {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  float: left;

  -webkit-transition: width 0.15s ease-in-out;
  -moz-transition: width 0.15s ease-in-out;
  -o-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;

  width:0;
}

.main-sidenav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: black;
  background-color: transparent !important;
}

.mat-sidenav-backdrop.mat-sidenav-shown {
  background-color: transparent !important;
}

::ng-deep .mat-sidenav-container,
::ng-deep .mat-sidenav-content {
  background: none;
}

::ng-deep .mat-sidenav-content {
  display: none !important;
  background: none;
}


::ng-deep .mat-drawer-inner-container {
  background-color: rgba(0, 0, 0, 0.4);
}

::ng-deep .mat-sidenav-backdrop.mat-sidenav-shown {
  display: none;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent;
}

.mat-mdc-form-field {
  width: 135px;
}

.coordinates {
  border-radius: 10px;
  padding: 15px;
  height: 440px;
  display: block;
  position: relative;
}

.coordinates-form-field {
  position: absolute;
  ::ng-deep .mat-mdc-form-field-bottom-align {
    display: none;
  }
}

.top-left {
  @extend .coordinates-form-field;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-left: 15px;
}

.top-right {
  @extend .coordinates-form-field;
  top: 0;
  right: 0;
  padding-top: 15px;
  padding-right: 15px;
}

.bottom-right {
  @extend .coordinates-form-field;
  bottom: 28px;
  right: 0;
  padding-bottom: 15px;
  padding-right: 15px;
}

.bottom-left {
  @extend .coordinates-form-field;
  bottom: 28px;
  left: 0;
  padding-bottom: 15px;
  padding-left: 15px;
}

.all-eight {
  position: absolute;
  bottom: 0;
  left: 33%;
  padding-bottom: 15px;
  padding-left: 15px;
  color: var(--mdc-theme-error, #f44336);
}

.map-picker {
  position: absolute;
  top: 20%;
  left: 22.5%;
  overflow: hidden;
  cursor: pointer;
}

#world-map {
  height: 200px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-mdc-slider {
  width: 95%;
}

.slider {
  display: block;
  margin: 20px 10px 0;
}

.min {
  float: left;
}

.max {
  float: right;
  width: 95px;
}

.full-field {
  width: 100%;
}

::ng-deep .mat-datepicker-content .mat-calendar {
  width: 400px !important;
  height: 450px !important;
}

.label {
  margin-right: 5px;
}

.max-value {
  float: right;
}

.label-max {
  float: left;
}

.submit-panel {
  ::ng-deep .mat-expansion-panel-header-title {
    color: rgba(0,0,0,.87);
  }

  ::ng-deep .mat-expansion-panel-header-description {
    color: rgba(0,0,0,.54);
  }
}

.loading-spinner {
  display: flex;
  align-items: center;
  > span {
    flex: 1;
  }
}

.closed-toolbar {
  border-radius: 15px;
}
