<div class="sidenav-with-button">
  <mat-sidenav-container class="example-container" hasBackdrop="false" [ngStyle]="{width: !sidenav.opened ? '0px' : '450px'}">
<!--    TODO set ngStyle to work only after 0.5sec - after animation is done (right now there is no animation -->
<!--    TODO set button on the leftside of sidebar - problably on the div before sidenav so it wont cause problems wish sidenav's width -->

    <mat-sidenav #sidenav mode="over" opened class="example-sidenav">
      <mat-toolbar>
        <span>Filters</span>
        <span class="example-spacer"></span>
        <button class="close" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="sidenav.opened">keyboard_arrow_left</mat-icon>
          <mat-icon *ngIf="!sidenav.opened">keyboard_arrow_right</mat-icon>
        </button>
      </mat-toolbar>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Magnitude:
            </mat-panel-title>
            <mat-panel-description>
              Seismic level of earthquake
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Set minimum and maximum magnitude!</p>
          <mat-card class="card">
            <mat-card-content>
              <div class="slider">
                <div class="min">
                  <label class="label">Value min:</label>
                  <label class="label-value">{{$any(form).controls['magnitude_min']?.value}}</label>
                </div>
                <div class="max">
                  <label class="label-max">Value max:</label>
                  <label class="label-value max-value">{{$any(form).controls['magnitude_max']?.value}}</label>
                </div>
              </div>
              <mat-slider min="0" max="10" step="0.5" showTickMarks [displayWith]="formatLabel">
                <input [formControl]="$any(form).controls['magnitude_min']" matSliderStartThumb>
                <input [formControl]="$any(form).controls['magnitude_max']" matSliderEndThumb>
              </mat-slider>
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Date range:
            </mat-panel-title>
            <mat-panel-description>
              Date range of earthquakes
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Set date range of earthquakes!</p>
          <mat-form-field class="date-field">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate [formControl]="$any(form).controls['date_start']" placeholder="Start date">
              <input matEndDate [formControl]="$any(form).controls['date_end']" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Area
            </mat-panel-title>
            <mat-panel-description>
              Filter by rectangle using: <br>
              x_min, x_max, y_min, y_max

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="coordinates">
            <mat-form-field id="ymax">
              <mat-label>Y_max</mat-label>
              <input matInput>
            </mat-form-field>
            <div class="latitude">
              <mat-form-field id="xmin">
                <mat-label>X_min</mat-label>
                <input matInput>
              </mat-form-field>
              <div class="map-picker" (click)="openDialog()">
                <img src="assets/world-map-transparent.png" id="world-map" alt="world-map">
              </div>
              <mat-form-field id="xmax">
                <mat-label>X_max</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <mat-form-field id="ymin">
              <mat-label>Y_min</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
        <button class="open-filter" mat-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="sidenav.opened">keyboard_arrow_left</mat-icon>
          <mat-icon *ngIf="!sidenav.opened">keyboard_arrow_right</mat-icon>
        </button>
      </mat-accordion>
    </mat-sidenav>

  </mat-sidenav-container>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="sidenav.opened" style="color: black">keyboard_arrow_left</mat-icon>
    <mat-icon *ngIf="!sidenav.opened" style="color: black">keyboard_arrow_right</mat-icon>
  </button>
</div>
