.open-filter {
  float: right;
  width: 40px;
}
.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 43vh;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: black;
  background-color: transparent !important;
}

.mat-sidenav-backdrop.mat-sidenav-shown{
    background-color: transparent !important;
}

::ng-deep .mat-sidenav-container,
::ng-deep .mat-sidenav-content {
  background: none;
}

::ng-deep .mat-sidenav-content {
  display: none !important;
  background: none;
}


::ng-deep .mat-drawer-inner-container {
  background-color: rgba(0, 0, 0,0.7);
}

.mat-mdc-form-field {
  width: 100px;
}

.coordinates {
  border-radius: 10px;
  border:2px solid black;
  padding: 15px;
  height: 200px;
}

#ymax {
  position: absolute;
  right: 37.5%;
}

#xmin {
  position: absolute;
  top: 50%;
}

#xmax {
  position: absolute;
  top: 50%;
  right: 10%;
}

#ymin {
  position: absolute;
  right: 37.5%;
  bottom: 3%;
}

.latitude {
  justify-content: space-between;
}

.map-picker {
  border-radius: 10px;
  border:2px solid black;
  position: absolute;
  top: 47%;
  left: 37.5%;
  overflow: hidden;
}

#world-map {
  height: 65px;
}

