.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.map-frame {
    height: 100%;
}

#prediction-map {
    height: 100%;
}

.popup-height {
    height: 400px;
    
    .leaflet-popup-content {
        height: 400px;
        overflow: hidden;
    }
}

.leaflet-popup {
    height: 400px !important;
}

.leaflet-popup-content {
    margin: 8px !important;
    width: 300px !important;
}

.leaflet-popup-content-wrapper {
    padding: 0 !important;
}