<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Coordinate Picker</mat-card-title>
    <mat-card-subtitle>Set rectangle border of coordinates to filter by</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
        <div id="map_dialog"></div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button matDialogClose>CANCEL</button>
    <button mat-button>DRAW AGAIN</button>
    <button mat-button>APPLY</button>
  </mat-card-actions>
</mat-card>
